#Gallery {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px; 
    display: flex;
    justify-content: center;
    z-index: 100;
    background-color: transparent;
}

#Gallery .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%; 
    padding: 8px; 
    border-radius: 12px; 
    background: rgba(40, 40, 50, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 10px rgb(62, 247, 225); 
    text-align: center;
}
#Gallery .box1 {
    font-size: 24px; 
    align-self:flex-start;
    color: white;
    justify-content:center;
    background: linear-gradient(90deg, #61ffad 30%, #3cf2ff 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3px 8px; 
    transition: transform 0.3s ease;
    margin-right: 20vw; 
}

#Gallery .link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 12px; 
}

.link a {
    font-size: 18px; 
    text-decoration: none;
    color: black;
    padding: 5px 5px; 
    margin: 0;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
    border-radius: 12px; 
    border: 1px solid rgba(255, 255, 255, 0.25);
    background:rgb(236, 236, 236);
    flex-basis: 100px;
    flex-shrink: 0;
    transition: all 0.3s ease;
    text-align: center;
}

.link .IDK{
    font-size: 24px; 
    color: white;
    background: linear-gradient(90deg, #61ffad 30%, #3cf2ff 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3px 8px; 
    transition: transform 0.3s ease;
    margin-right: 15px; 
}
.link a:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.1);
}

#dropdownMenu {
    display: none;
}

#dropdownMenu .dropdown-content {
    display: none;
    position: absolute;
    top: 65px;
    right: 0;
    background-color: rgba(40, 40, 50, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#dropdownMenu .dropdown-content a {
    display: block;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
}

#dropdownMenu:hover .dropdown-content {
    display: block;
}
@media screen and (min-width:850px){
    .box1{
        display:none;
    }
}
@media screen and (max-width: 850px) {
    #Gallery .link {
        display: none;
    }

    #dropdownMenu {
        display: inline-block;
        font-size: 20px; 
        color: white;
        padding: 8px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background: linear-gradient(90deg, #61ffad 30%, #3cf2ff 70%);
        text-align: center;
        cursor: pointer;
    }
}
