html {
    overflow: -moz-scrollbars-vertical;
}
/* this code was taken from google fonts
https://fonts.google.com/selection/embed
*/
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
    
  body {

    font-family: "Pacifico",cursive;
    font-size: 14px;
    color: #3c3d3f;
    max-width: 100%;
  }

